@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Fredericka+the+Great&family=Amatic+SC&family=Dancing+Script&family=Press+Start+2P&family=Roboto:wght@300;400;700&display=swap");

:root{
        --background-color: #c0c2ff;
    --menu-color: #220B40;
    --card-color: linear-gradient(
            to right bottom,
            #c0c2ff,
            #cecaff,
            #dbd3fe,
            #e6dcff,
            #efe5ff
    );
    --text-color: #F0F4F8;


}

html {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}


h1,
h2,
h3,
h4 {
    font-family: "Fredericka the Great", serif;
}

.main-body {
    background: var(--background-color);
}

.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__text {
    position: absolute;
    padding: 20px;
    text-align: center;
    transform: translate(-30%, -70%);
    box-shadow: 3px 3px 10px 3px var(--background-color);
}

.hero__text h1, p {
    margin: 0;
    font-size: 2em;
}

.hero__text h1 {
    color: var(--menu-color);
    text-shadow: 2px 2px 2px var(--background-color);
}

.hero__text p {
    color:var(--text-color);
    text-shadow: 2px 2px 2px var(--background-color);
}
.hero__text p:nth-child(2) {
    font-family: "Dancing Script", sans-serif;
    font-size:2.3em;
}


.hero__text p:nth-child(3) {
    font-family: "Press Start 2P", sans-serif;
    font-size:1.5em;
}

.hero__text p:nth-child(4) {
    font-family: "Monoton", sans-serif;
    font-size:1.7em;
}

.top-menu {
    background: var(--menu-color);
    list-style-type: none;
    overflow: hidden;
}

.top-menu__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 10px;
}

.top-menu__list__menu {
    text-decoration: none;
    color: var(--text-color);
    margin: 10px;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: var(--menu-color);
    color: white;
}
